RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://us-lungoraa.com%{REQUEST_URI} [R=301,L]

# Force non-www
RewriteCond %{HTTP_HOST} ^www\.us-lungoraa\.com$ [NC]
RewriteRule ^ https://us-lungoraa\.com%{REQUEST_URI} [R=301,L]

# Redirect index.html to homepage
RewriteCond %{THE_REQUEST} \s/+index\.html[\s?] [NC]
RewriteRule ^index\.html$ https://us-lungoraa\.com/ [R=301,L]
